<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Portfolio</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/lucas.jpeg" alt="Lucas Galindo">
            <h1>Lucas Galindo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://linktr.ee/lucras22">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/Lucras22">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/@DEVLucasGalindo">
                    <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" href="https://instagram.com/lucras_galindo">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <section>
            <nav id="navbar" class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sobre"><i class="bi bi-person-vcard"></i> Sobre</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#hablidades"><i class="bi bi-list-task"></i> Habilidades</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#curriculo"><i class="bi bi-file-earmark"></i> Curriculo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#conctato"><i class="bi bi-collection"></i> Contato</a>
                    </li>
                  </ul>
            </nav>
        </section>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Lucas Galindo</h2>
                <span id="subtitle" class="text-white text-shadow">IoT Developer & Specialist | Embedded Systems</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Atualmente, sou graduando em Análise e Desenvolvimento de Sistemas (1 semestre), aprofundando meus conhecimentos na área de tecnologia e desenvolvimento de software. Concluí o curso técnico em Informática na Escola Estadual de Educação Profissional Venceslau Vieira Batista, no Ceará, onde finalizei o ensino médio integrado à formação técnica. Durante minha trajetória acadêmica, adquiri experiência em programação, desenvolvimento de sistemas e outras áreas fundamentais da computação, consolidando minha base para atuar no setor de tecnologia.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/lucas.jpeg" alt="Lucas Galindo">
                </div>
                <div class="col-md-8">
                    <h3>Desenvolvedor de Sistemas Embarcados</h3>
                    <p>Atulamente sou bolsista no CIDTS, orgão que faz parte do IFCE campus Boa Viagem, trabalhando na area de embarcados de alguns projetos do Laboratório de Inovação para Desenvolvimento do Semiárido (LISA)</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">22 de Abril de 2006</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">19 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Boa Viagem</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Ceará</span>
                                </li>
                              </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Jogar VideoGame</span>
                                </li>
                                <li class="list-group-item">
                                    Site: <a href="https://linktr.ee/lucras22" target="_blank" class="fw-lighter text-decoration-none link-dark">Teste</a>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <a href="https://plataformacidts.com/" target="_blank" class="fw-lighter text-decoration-none link-dark">Bolsista do CIDTS</a>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">2 anos</span>
                                </li>
                              </ul>
                        </div>
                    </div>
                    <p>Acredito que com o poder do Hardware em conjunto com o poder do Software, as ações braçais devem diminuir e tornar trabalhos que são complicados e cansativos em funções simples e rapidas de serem solucionadas</p>
                </div>
            </div>
        </section>
    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>