<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Portfolio</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/lucas.jpeg" alt="Lucas Galindo">
            <h1>Lucas Galindo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://linktr.ee/lucras22">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/Lucras22">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/@DEVLucasGalindo">
                    <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" href="https://instagram.com/lucras_galindo">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <section>
            <nav id="navbar" class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sobre"><i class="bi bi-person-vcard"></i> Sobre</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#habilidades"><i class="bi bi-list-task"></i> Habilidades</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#curriculo"><i class="bi bi-file-earmark"></i> Curriculo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contato"><i class="bi bi-collection"></i> Contato</a>
                    </li>
                  </ul>
            </nav>
        </section>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Lucas Galindo</h2>
                <span id="subtitle" class="text-white text-shadow">IoT Developer & Specialist | Embedded Systems</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Atualmente, sou graduando em Análise e Desenvolvimento de Sistemas (1 semestre), aprofundando meus conhecimentos na área de tecnologia e desenvolvimento de software. Concluí o curso técnico em Informática na Escola Estadual de Educação Profissional Venceslau Vieira Batista, no Ceará, onde finalizei o ensino médio integrado à formação técnica. Durante minha trajetória acadêmica, adquiri experiência em programação, desenvolvimento de sistemas e outras áreas fundamentais da computação, consolidando minha base para atuar no setor de tecnologia.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/lucasg.png" alt="Lucas Galindo" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Desenvolvedor de Sistemas Embarcados</h3>
                    <p>Atulamente sou bolsista no CIDTS, orgão que faz parte do IFCE campus Boa Viagem, trabalhando na area de embarcados de alguns projetos do Laboratório de Inovação para Desenvolvimento do Semiárido (LISA)</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">22 de Abril de 2006</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">19 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Boa Viagem</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Ceará</span>
                                </li>
                              </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Jogar VideoGame</span>
                                </li>
                                <li class="list-group-item">
                                    Site: <a href="https://linktr.ee/lucras22" target="_blank" class="fw-lighter text-decoration-none link-dark">Teste</a>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <a href="https://plataformacidts.com/" target="_blank" class="fw-lighter text-decoration-none link-dark">Bolsista do CIDTS</a>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">2 anos</span>
                                </li>
                              </ul>
                        </div>
                    </div>
                    <p>Acredito que com o poder do Hardware em conjunto com o poder do Software, as ações braçais devem diminuir e tornar trabalhos que são complicados e cansativos em funções simples e rapidas de serem solucionadas</p>
                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Desde o meu curso Tecnico integrado com o ensio medio até hoje na minha faculdade de analise e desenvolvimento de sistemas, vim desenvolvendo algumas habilidade, aseguir estarei exibindo elas juntamente da porcentagem de conhecimento que acredito ter em cada uma delas</p>

                <div class="row">
                    <div class="col-md-6">
                            <p class="mt-3 mb-0">Eletrônica Analógica</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25%">25%</div></div>

                            <p class="mt-3 mb-0">Eletrônica Digital</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div></div>

                            <p class="mt-3 mb-0">Porgramação em C/C++</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 35%">35%</div></div>

                            <p class="mt-3 mb-0">Criação de PCB</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 55%">55%</div></div>
                        
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">MicroControladores</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div></div>

                            <p class="mt-3 mb-0">RaspBerry PI</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25%">25%</div></div>

                            <p class="mt-3 mb-0">Sensores</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div></div>

                            <p class="mt-3 mb-0">Modulos</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div></div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                            <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div></div>

                            <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div></div>

                            <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 87%">87%</div></div>
                    </div>
                    <div class="col-md-6">
                            <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div></div>

                            <p class="mt-3 mb-0">COmprometimento</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div></div>

                            <p class="mt-3 mb-0">Pontualidade</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%">90%</div></div>
                    </div>
                </div>
            </div>
        </section>

        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Analise e Desenvolvimento de Sistemas</h4>
                            <h5>2025 - em andamento</h5>
                            <p><em>Instituto Federal do Ceará - Campus Boa Viagem</em></p>
                            <p>Graduando em Análise e Desenvolvimento de Sistemas, com bolsa de iniciação científica para projetos de pesquisa.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Ensino medio + Tec. em Infor.</h4>
                            <h5>2022 - 2024</h5>
                            <p><em>EEEP Venceslau Vieira Batista</em></p>
                            <p>Ensino Médio concluído com curso técnico integrado em Informática, onde adquiri conhecimentos em lógica de programação, desenvolvimento web e programação orientada a objetos.</p>
                        </div>
                        
                        <div class="cv-item" data-anime="up">
                            <h4>Primeiro Gral</h4>
                            <h5>2012 - 2021</h5>
                            <p><em>EEF Padre Antônio Correia de Sá</em></p>
                            <p>Ensino Fundamental concluído, com aquisição dos conhecimentos básicos essenciais para a formação educacional.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Cursos</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Google Digital Marketing & E-commerce</h4>
                            <h5>Carga horária: 190h</h5>
                            <p><em>Coursera, GOOGLE, Brasil.</em></p>
                            <p>Curso de Marketing Digital e E-commerce com carga horária de 190 horas, oferecido pela Google por meio da plataforma Coursera. Abrange estratégias de marketing, comércio eletrônico, análise de dados e otimização de campanhas digitais.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>AWS Academy Graduate - AWS Academy Cloud Foundations</h4>
                            <h5>Carga horária: 20h</h5>
                            <p><em>Amazon Web Services, AWS, Brasil.</em></p>
                            <p>Curso introdutório com carga horária de 20 horas, fornecido pela Amazon Web Services (AWS), voltado para os fundamentos da computação em nuvem. Inclui conceitos de infraestrutura, serviços AWS, segurança e boas práticas na nuvem.</p>
                        </div>
                        
                        <div class="cv-item" data-anime="up">
                            <h4>HCIA-5G V2.0 Course</h4>
                            <h5>Carga horária: 40h</h5>
                            <p><em>Huawei</em></p>
                            <p>Curso de certificação em redes móveis com foco em tecnologia 5G, com carga horária de 40 horas. Oferecido pela Huawei, abrange os principais conceitos, arquitetura, aplicações e perspectivas da conectividade 5G no cenário atual.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="mt-5 section-bg">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <!--<button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
                    </div>
                    <div class="carousel-inner">
                      
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/irrigaclima.png" class="card-img-top" alt="Projeto IrrigaClima">
                                <div class="card-body">
                                  <h5 class="card-title">Projeto IrrigaClima</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        <a href="https://github.com/Lucras22/IrrigaClima-embedded-system-project" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/aspseur.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Processo de saída escolar</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  <a href="https://github.com/Lucras22/automacao_processodesaidaescolar" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/safe.png" class="card-img-top" alt="Projeto SafeHome_IoT">
                                <div class="card-body">
                                  <h5 class="card-title">Projeto SafeHome_IoT</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a><a href="https://github.com/Lucras22/SafeHome_IoT" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/hidrowebnia.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hidro-Webnia</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                  <a href="https://hidrowebnia.onrender.com/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  <a href="https://github.com/Lucras22/hidroponia" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/estacao.png" class="card-img-top" alt="Estação Metereologica">
                                <div class="card-body">
                                  <h5 class="card-title">Estação Metereologica</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                  <a href="https://" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a><a href="https://" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a><a href="https://" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                    <!-- <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div> -->

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </section>

        <section id="contato" class="pt-5 pb-5">
            <div class="container mb-">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5" data-anime="up">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Boa Viagem, Ceará </p>

                                <div class="email">
                                    <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>devlucasgalindo@gmail.com</p>
                                </div>

                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254381.14422779926!2d-39.92808232636533!3d-4.988531949081105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bde390e59bc91b%3A0x8810a577de144ee5!2sBoa%20Viagem%20-%20Palestina%2C%20Boa%20Viagem%20-%20CE%2C%2063870-000!5e0!3m2!1spt-BR!2sbr!4v1744217803126!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100" referrerpolicy="no-referrer-when-downgrade"></iframe>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0" data-anime="left">
                        <div class="card p-5 h-100 shadow border-0">
                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" placeholder="Digite seu nome." name="nome" required>
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email:</label>
                                  <input type="email" class="form-control" id="email" placeholder="Digite seu email." name="email" required>
                                </div>
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem: </label>
                                  <textarea type="text" class="form-control" id="mensagem" placeholder="Digite sua mensagem." name="mensagem" rows="10" required></textarea>
                                </div>

                                <div class="col-12 d-flex justify-content-center mt-5">
                                  <button type="submit" class="btn btn-primary">Enviar mensagem</button>

                                  <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                      Enviando...
                                  </button>

                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>